In [1]:
person = {
     'first' : ['Jahid','Mahadi','Marina','Ayat'],
     'last' : ['hasan','hasan','akter','hasan'],
     'email' : ['jahid@hasan.com','mahadi@hasan.com','marina@akter.com','ayat@hasan.com'],
}

In [2]:
person['first']

['Jahid', 'Mahadi', 'Marina', 'Ayat']

In [3]:
person['email']

['jahid@hasan.com', 'mahadi@hasan.com', 'marina@akter.com', 'ayat@hasan.com']

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(person)

In [6]:
df

    first   last             email
0   Jahid  hasan   jahid@hasan.com
1  Mahadi  hasan  mahadi@hasan.com
2  Marina  akter  marina@akter.com
3    Ayat  hasan    ayat@hasan.com

In [7]:
df.email

0     jahid@hasan.com
1    mahadi@hasan.com
2    marina@akter.com
3      ayat@hasan.com
Name: email, dtype: object

In [8]:
df['email']

0     jahid@hasan.com
1    mahadi@hasan.com
2    marina@akter.com
3      ayat@hasan.com
Name: email, dtype: object

In [9]:
df[['first','email']]

    first             email
0   Jahid   jahid@hasan.com
1  Mahadi  mahadi@hasan.com
2  Marina  marina@akter.com
3    Ayat    ayat@hasan.com

In [10]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [11]:
df = pd.DataFrame(person)

In [12]:
df = iloc[0]

NameError: name 'iloc' is not defined

In [ ]:
df.iloc[[0,1],2]

In [ ]:
df.loc[[1,2],['email','last']]

In [ ]:
df['email']

In [ ]:
df.set_index('email',inplace=True)

In [ ]:
df.index

In [ ]:
df.loc['jahid@hasan.com']

In [ ]:
df.iloc[0]

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
df

In [ ]:
df['last'] == 'hasan'

In [ ]:
filt = (df['last'] == 'akter') | (df['first'] == 'Mahadi')

In [ ]:
df.loc[~filt]

In [ ]:
df.columns = ['first_name','last_name','email']

In [ ]:
df

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.columns = df.columns.str.replace(' ','_')
df

In [ ]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)

In [ ]:
df

In [ ]:
df.loc[2,['last','email']] = ['hasan','marina@hasan.com']

In [ ]:
df

In [ ]:
df.loc[2,'last'] = 'akter'
df

In [ ]:
df.loc[2,'email'] = 'marina@akter.com'
df

In [ ]:
filt = (df['email'] == 'jahid@hasan.com')
df.loc[filt,'last'] = 'aneek'

In [ ]:
df['email'].str.upper()

In [ ]:
df['email'] = df['email'].str.lower()
df

In [ ]:
df

In [ ]:
df['email'].apply(len)

In [ ]:
def updated_email(email):
    return email.upper()

In [ ]:
df['email'].apply(updated_email)

In [ ]:
df['email'].str.lower()

In [ ]:
df['email'].apply(lambda x: x.upper())

In [ ]:
df.apply(len,axis='columns')

In [ ]:
df.apply(pd.Series.min)

In [ ]:
df.applymap(len)

In [ ]:
df.applymap(str.lower)

In [ ]:
df['first'].map({'jahid': 'sultan', 'mahadi': 'arnab'})

In [ ]:
df

In [ ]:
df['first'].map({'jahid':'sultan','Mahadi':'arnab'})

In [ ]:
df['first'] + ' ' + df['last']

In [ ]:
df['full_name'] = df['first']+ ' '+df['last']

In [ ]:
df

In [ ]:
df.drop(columns=['first','last'],inplace=True)

In [ ]:
df

In [ ]:
df['full_name'].str.split(' ',expand=True)

In [ ]:
df[['first','last']] = df['full_name'].str.split(' ',expand=True)

In [ ]:
new_row = {'first': 'will', 'last':'Smith'}
df._append(new_row,ignore_index=True)

In [ ]:
df

In [ ]:
people = {
    'first': ['iffat','helal'],
    'last': ['ara', 'uddin'],
    'email': ['iffat@ara.com', 'helal@uddin.com']
}

df2 = pd.DataFrame(people)
df2

In [ ]:
df._append(df2,ignore_index=True)

In [ ]:
df['full_name'] = df['first'] + ' ' + df['last']

In [ ]:
df

In [ ]:
df._append(df2, ignore_index=True)

In [ ]:
df